## IS 362 : Project 1

#### Project Objective:

(1) Create a .CSV file (or optionally, a MySQL database!) that all of the information in the table. You may change the structure  of the information as you like.

(2) Read the information from you .CSV file into pandas, and perform analysis to compare the arrival delays for the two airlines 

(3) Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your analysis and conclusions.

##### Loading CSV file to read in Pandas DataFrame:

Importing the pandas library is accomplished below:

In [1]:
import pandas as pd

After importing the pandas module, reading the CSV file is done through .read_csv():

In [2]:
airline_info = pd.read_csv(r'C:\Users\Keniajc93\Project1.csv', index_col = 0)

.head() is used to display the first 5 rows of this data:

In [3]:
airline_info.head()

            City  AlaskaOnTime  AlaskaDelay  AMWestOnTime  AMWestDelay
0    Los Angeles           497           62           694          117
1        Phoenix           221           12          4840          415
2      San Diego           212           20           383           65
3  San Francisco           503          102           320          129
4        Seattle          1841          305           201           61

We can see the number of on time flights versus the number of delayed flights for each airline, and for each arrival city. We want to analyze these values in order to compare the arrival delays for the two airlines. Now we will want to know the total number of flights for each airline.

##### Calculating Percentages for each Airline:

In order to calculate the percentages, we will create a formula that utilizes Python operators. In this instance, arrivals that were on time and delayed are added together to give the total arrivals. Dividing the total by the delayed arrivals is the next step. Since it displays a float or decimal, multiplying by 100 shows the percentage as a whole number with decimals.

In [5]:
airline_info['TotalAlaskaArrivals'] = airline_info['AlaskaOnTime'] + airline_info['AlaskaDelay']

airline_info['AlaskaPercentagesOfDelay'] = (airline_info['AlaskaDelay'] / airline_info['TotalAlaskaArrivals']) * 100

airline_info['AlaskaPercentagesOfDelay']

0    11.091234
1     5.150215
2     8.620690
3    16.859504
4    14.212488
Name: AlaskaPercentagesOfDelay, dtype: float64

In [6]:
airline_info['TotalAMWestArrivals'] = airline_info['AMWestOnTime'] + airline_info['AMWestDelay']

airline_info['AMWestPercentagesOfDelay'] = (airline_info['AMWestDelay'] / airline_info['TotalAMWestArrivals']) * 100

airline_info['AMWestPercentagesOfDelay']

0    14.426634
1     7.897241
2    14.508929
3    28.730512
4    23.282443
Name: AMWestPercentagesOfDelay, dtype: float64

The percentages shown above are the percentages that will be shown as added rows to the table.

##### Displaying the Table after adding the Percentages:

In [7]:
airline_info

,City,AlaskaOnTime,AlaskaDelay,AMWestOnTime,AMWestDelay,TotalAlaskaArrivals,AlaskaPercentagesOfDelay,TotalAMWestArrivals,AMWestPercentagesOfDelay
0,Los Angeles,497,62,694,117,559,11.091234,811,14.426634
1,Phoenix,221,12,4840,415,233,5.150215,5255,7.897241
2,San Diego,212,20,383,65,232,8.620690,448,14.508929
3,San Francisco,503,102,320,129,605,16.859504,449,28.730512
4,Seattle,1841,305,201,61,2146,14.212488,262,23.282443

Someone may conclude that AM West has more delayed arrivals than Alaska for Los Angeles. However, Alaska can have more delayed arrivals than AM West for Seattle.

#####  Percentages of Delay:

In [12]:
percentages_of_delay = airline_info[['City','AlaskaPercentagesOfDelay', 'AMWestPercentagesOfDelay']]
percentages_of_delay

            City  AlaskaPercentagesOfDelay  AMWestPercentagesOfDelay
0    Los Angeles                 11.091234                 14.426634
1        Phoenix                  5.150215                  7.897241
2      San Diego                  8.620690                 14.508929
3  San Francisco                 16.859504                 28.730512
4        Seattle                 14.212488                 23.282443

### Conclusion:

AM West has a higher rate of delays than Alaska for all five of the destinations, making it the less reliable of the two airlines for these particular destinations.